body{
	margin:0;
	font-family:"trebuchet ms";
}

#total{
	width:960px;
	height:auto;
	margin:auto;
}

#topo{
	width:960px;
	height:35px;
	background-color:#422D71;
	float:left;	
}

#logo{
	width:144px;
	height:182px;
	position:relative;
	top:0;
	left:0;
	
	display:inline; /*float:left*/
}

#menu{
	float:right;	
	/*padding-top:6px;*/
	line-height:35px; /*mesma altura do topo (35px)*/
}

#menu a{
	color:#FFF;
	font-size:14px;
	text-decoration:none;
	margin-right:50px;	
}

#menu a:hover{
	text-decoration:underline;	
}

#banner{
	width:960px;
	height:300px;

	float:left;
	border-bottom:1px solid #BBA6E7;
}

#conteudo{
	width:960px;
	min-height:100px;
	background-color:#CCC;
	float:left;	
}

#box1, #box2, #box3{
	width:280px;
	min-height:100px;
	background-color:#666;
	float:left;	
}

#box2{
	margin-left:60px;
	margin-right:60px;	
}

#rodape{
	width:960px;
	height:35px;
	background-color:#E6DEF5;
	float:left;	
}